
<div>
  <%= @donor.first_name %>
  <br>
  <br>
  Joined <%= @donor.created_at.localtime.to_formatted_s(:long_ordinal) %>
  <% if @donor == current_donor %>
    <%= button_to "Edit Profile", edit_donor_path, method: "get" %>
  <% end %>
  <br>
  <h2>NGOs:</h2>
</div>
