<div class="column row">
  <ul class="pagination" role="navigation" aria-label="Pagination">
    <li class="disabled">« <span class="show-for-sr">Previous page</span></li>
    <!-- <li class="current"><span class="show-for-sr">You're on page</span> <%=  %></li> -->

    <% @ngos.each do |ngo| %>
    <li> <%= link_to ngo.name, ngo_path(ngo) %> </li>
    <% end %>
    <li><a href="#" aria-label="Next page">» <span class="show-for-sr">Next page</span></a></li>
  </ul>
</div>
<center><div id="contentInfo"><center>
  <h4>In the last 20 years, Haiti has experienced over 20 major natural disasters.</h4> <br>
  Flooding, hurricanes, cholera, and earthquakes have impeded communities' continual efforts to return to normalcy.<br>
  There were 10,257 civilian casualties over that 20 year time span, not including the 2010 earthquake.<br>
  The Haitian government reported the death toll to have surpassed 230,000 people after the second quake passed.
  <br>
  <br>
  Most international non-profits create a rallying cry around natural disasters to bootstrap donations, <br>
  but over time 3rd party analysis, along with investigative journalism, determined that many international non-profits were incredibly ineffective <br>
  in bringing meaningful changes to communities that were not understood by the employees who lacked the shared lived experience.
  <br>a
  <br>
  <h3> ... So how can my resources reach the impacted communities? </h3>

  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=D5ZQGSQVJL4F8"> Konbit Mizik </a>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=X5AJ3UTP9JXK4"> Sakala </a>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AA8WR8C6H5JYQ"> Street Hearts Haiti </a>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XCVGYVA6WEP6U"> Just Haiti </a>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KD4TG8DKY47FG"> Youthaiti </a>
</div>
<!-- need to justify orient the text, add padding  -->
