<h1 class="title">Meet the Contributors</h1>


<div class="aboutphoto"><%=image_tag("sherie.png")%> <h2>Sherie Carter</h2></div>
<div class="aboutphoto"><%=image_tag("andrew.png")%><h2>Andrew Cordivari</h2>
<p>Andrew grew up in New Jersey and studied entrepreneurship at Fordham University. He quickly joined the startup scene in Manhattan through a variety of marketing and business development internships before finding a great fit at an analytic startup. Andrew began dabbling in web development and design while serving as community manager for Jamplify, and he learned a great deal from witnessing the work ethic and process-driven work ethic of the companies' lead developers.  After exploring different industries and developing a clearer vision for the future, he committed to a future in web development
   and joined a web development immersive program at General Assembly's San Francisco campus. He has spent time learning from an international community of individuals covering cross-cultural perspectives and community-driven initiatives.</p>

</div>
<div class="aboutphoto"><%=image_tag("Lisa.png")%><h2>Lisa Olson</h2></div>
<h2>William Namen</h2>
