
<h1 class="title">Meet the Contributors</h1>

<div class="m-x-auto newuser" style="width: 30%, height: 25%;">
  <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="card">

          <div class="aboutphoto"><%=image_tag("sherie.png")%> <h2>Sherie Carter</h2>
          <p>
          Sherie, born and raised in Kansas City, Missouri, spent her childhood sewing dresses, blankets, and everything in between. She went on to study Business Administration at Florida Agricultural & Mechanical University. After completing a Retail Management internship at Nordstrom in the Bay area, she realized she wanted to add innovation to the e-commerce industry. She was lead to General Assembly through an alumnae and is constantly working on projects to improve the experience and efficiency of small e-commerce sites.
        </p></div>
      </div>
    </div>

    <div class="small-12 medium-6 columns">
      <div class="card">
        <div class="aboutphoto"><%=image_tag("andrew.png")%><h2>Andrew Cordivari</h2>
          <p>Andrew grew up in New Jersey and studied entrepreneurship at Fordham University. He quickly joined the startup scene in Manhattan through a variety of marketing and business development internships before finding a great fit at an analytic startup. Andrew began dabbling in web development and design while serving as community manager for Jamplify, and he learned a great deal from witnessing the work ethic and process-driven work ethic of the companies' lead developers.  After exploring different industries and developing a clearer vision for the future, he committed to a future in web development
            and joined a web development immersive program at General Assembly's San Francisco campus. He has spent time learning from an international community of individuals covering cross-cultural perspectives and community-driven initiatives.</p>

        </div>
      </div>
    </div>

    <div class="small-12 medium-6 columns">
      <div class="card">
        <div class="aboutphoto"><%=image_tag("Lisa.png")%><h2>Lisa Olson</h2>
          <p> Lisa grew up in the small town of Tulare, California.  She attended Hillsong International Leadership College after high school and received a certificate in Vocal Performance.  She then discovered her passion of combining the arts with Math, which lead her to pursue Computer Science.  After two years pursuing a degree in Computer Science, she decided to take the alternate route of attending a coding bootcamp in San Francisco to pursue Web Development.  She hopes to create web apps that cna bring change through the combination of logic and art.
          </p>
          </div>
      </div>
    </div>

    <div class="small-12 medium-6 columns">
      <div class="card">
        <div class="aboutphoto"><%=image_tag("william.png")%><h2>William Namen</h2>
          <p>I was born in El Salvador and moved to the United States when I was a child. My family settled down in Jacksonville, Florida where I spent my youth building in my backyard, playing soccer, and going to the beach. I attended the University of North Florida and graduated with a BBA in Finance and a Minor in Economics. After working in the Finance industry for the past 2 years, I decided it was time realize my passion in tech. So, I moved to San Francisco to join a coding bootcamp to accelerate my career change. After completing App Academy's Bootcamp Prep Program, I accepted an offer to join General Assembly's WDI Program which I am currently a student of.</p>
        </div>
      </div>
    </div>
  </div>
</div>
