<!--
<div class="row collapse expanded">
  <div class="small-12 medium-12 large-12 columns">
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        <li class="is-active orbit-slide">
          <img class="orbit-image" src="http://interactive.wxxi.org/sites/default/files/images/highlights/children_of_haiti.jpg" alt="Space">
          <span class="orbit-caption"><p>Look at this kid</p></span>
        </li>
        <li class="orbit-slide">
          <img class="orbit-image" src="https://spring2013env3400haiti.files.wordpress.com/2013/04/haiti_big.jpg" alt="Space">
          <span class="orbit-caption"><p>He is Hungry</p></span>
        </li>
        <li class="orbit-slide">
          <img class="orbit-image" src="http://www.unocha.org/sites/default/files/OCHA_Category/Top_Stories/haiti_0.JPG" alt="Space">
          <span class="orbit-caption"><p>Help Him</p></span>
        </li>
  </ul>
      <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">Donate Now.</span><span class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
      </nav>
    </div>
  </div>
</div> -->


<div id="slider">
  <figure>
  <img src="http://interactive.wxxi.org/sites/default/files/images/highlights/children_of_haiti.jpg">
  <img src="https://spring2013env3400haiti.files.wordpress.com/2013/04/haiti_big.jpg" alt="Space">
  <img src="http://www.unocha.org/sites/default/files/OCHA_Category/Top_Stories/haiti_0.JPG" alt="Space">
  <img src="https://spring2013env3400haiti.files.wordpress.com/2013/04/haiti_big.jpg" alt="Space">
  <img src="http://www.unocha.org/sites/default/files/OCHA_Category/Top_Stories/haiti_0.JPG" alt="Space">
</figure>
</div>

<center><div id="contentInfo"><center>
  <h4>In the last 20 years, Haiti has experienced over 20 major natural disasters.</h4> <br>
  Flooding, hurricanes, cholera, and earthquakes have impeded communities' continual efforts to return to normalcy.<br>
  There were 10,257 civilian casualties over that 20 year time span, not including the 2010 earthquake.<br>
  The Haitian government reported the death toll to have surpassed 230,000 people after the second quake passed.
  <br>
  <br>
  Most international non-profits create a rallying cry around natural disasters to bootstrap donations, <br>
  but over time 3rd party analysis, along with investigative journalism, determined that many international non-profits were incredibly ineffective <br>
  in bringing meaningful changes to communities that were not understood by the employees who lacked the shared lived experience.
  <br>a
  <br>
  <h3> ... So how can my resources reach the impacted communities? </h3>

  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=D5ZQGSQVJL4F8"> Konbit Mizik </a>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=X5AJ3UTP9JXK4"> Sakala </a>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AA8WR8C6H5JYQ"> Street Hearts Haiti </a>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XCVGYVA6WEP6U"> Just Haiti </a>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KD4TG8DKY47FG"> Youthaiti </a>
</div>
