// Place all the styles related to the ngos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #3CA2A2
}

img {

}

#blur {
  width: 100%;
  display: block;
}

.orbit-container {
  position: relative;
  height: 20px;
}

.orbit-caption {
  position: absolute;
  width: 100%;
  height: 100%;
}
