// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
$font-heading: Julius Sans One, sans-serif;
@import url('https://fonts.googleapis.com/css?family=Kite+One');
$font-content: Kite One, sans-serif;

@keyframes slider{

0%{
  left: 0;
}

20%{
  left: 0;
}

25%{
  left: -100%;
}
45%{
  left: -100%;
}


50%{
  left: -200%;
}
70%{
  left: -200%;
}

75% {
  left: -300%;
}

95%{
  left: -400%;
}
100%{
  left: -400%;
}

}


#twitter {

}
#donatePage{
  text-align: justify;
  padding: 20px;
}

.paypalImg {
  border-radius: 25px;
  padding-top: 20px;
}

#ppLink {
  font-size: 10px;
}

#slider {
  overflow: hidden;
}

#slider figure img{
  width: 20%;
  float: left;
  height: 500px;
}


#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slider infinite;
}

.aboutphoto {
  margin-left: 50px;
  margin-right: 50px;
 text-align: center;
 }
.aboutphoto img {
  width: 250px;
  height: 300px;
  display: inline-block;
  align-content: center;
}
.title {
  text-align: center;
  font-family: $font-heading;
  font-size: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 4px solid #2E4159;
}


.card {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  background-color: white;
  border-radius: 2px;
  margin: 10%;
  padding: 5%;
}

.container {
  background-color: white;
   #contentInfo {
     padding-left: 100px;
     width: 66%;
   }
   #twitter {
     padding-right: 100px;
     padding-top: 80px;
     width: 30%;
   }
}

#contentInfo {
  width: 75%;
  font-family: $font-heading;
  h4 {
    font-family: $font-heading;
    color: #2E4159;
    letter-spacing: 8px;
    text-align: center;
    font-size: 100px;
    border-bottom: 5px solid #F0E4C9;
    padding-bottom: 10px;
  }
  h3 {
    margin-bottom: 70px;
  }
  .map-img {
    width: 100%;
    height: 380px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  p {
    font-family: $font-heading;
    text-align: center;
    font-size: 25px;
    padding-bottom: 40px;
    border-bottom: 4px dashed #F0E4C9;
    padding-top: 40px;
  }
}

body {
  background-color: #F0E4C9;
}

.contraband{
  background-color: white;
  overflow: hidden;

}

@media only screen and (max-width: 500px) {
  .aboutphoto img {
    max-height: 200px;
  }
  h1.title {
    font-size: 35px;
  }
  .top-bar-right {
    float: none;
  }
  .aboutphoto.card {
    margin: 10%;
    padding: 3%;
  }
  #twitter {
    display: none;
    width: 0;
  }
  .container #contentInfo {
    padding-left: 0;
    font-size: 15px;
    width: 100%;
    h4 {
      font-size: 35px;
    }
    p {
      font-size: 20px;
    }
  }
}
