// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Kite+One');
$font-content: Kite One, sans-serif;
#contentInfo {
  font-family: $font-content;
  width: 75%;
  h4 {
    font-family: $font-content;
    margin-top: 70px;
    font-size: 35px;
  }
  h3 {
    font-family: $font-content;
    margin-bottom: 70px;
  }
}

body {
  background-color: #F0E4C9;
}
