<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>He Is Hungry</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/donors/new">Signup</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/donate">Donate</a></li>

      <li class="dropdown">
    <a href="/ngos" class="dropbtn">NGO</a>
      <div class="dropdown-content">

      <a href="/ngos/konbit-mizik">Konbit Mizik</a>
      <a href="/ngos/sakala-bochika">Sakala Bochika</a>
      <a href="/ngos/street-hearts-haiti">Street Hearts Haiti</a>
      <a href="/ngos/just-haiti">Just Haiti</a>
      <a href="/ngos/youthaiti">Youthaiti</a>
    </div>
    </li>
    </ul>
  </header>

    <%= yield %>

    <footer class="footer">
      <div class="row">
        <div class="small-12 columns">
          <p class="slogan">Make a bigger difference</p>
          <p class="links">
            <a href="#">Home</a>
            <a href="#">NGO</a>
            <a href="#">Donate</a>
            <a href="#">About</a>
            <a href="#">Faq</a>
            <a href="#">Contact</a>
            </p>
          <p class="copyright">Copyright 2016 &copy; </p>
        </div>
      </div>
    </footer>
  </body>
</html>
